@use 'sass:map';
@use './vars' as *;

@mixin round-gradient-border($bg-color) {
    border-radius: inherit;
    background: $bg-color;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}