@use 'sass:map';
@use 'fonts' as *;
@use 'components/button' as *;
@use 'vars' as *;
@use 'reset' as *;
@use 'swiper/swiper' as *;
@use 'header/header' as *;
@use 'parthners/parthners' as *;
@use 'nft-card/nft-card' as *;
@use 'explore/explore' as *;
@use 'collections/collections' as *;
@use 'sellers/sellers' as *;
@use 'nft-info/nft-info' as *;
@use 'subscribe/subscribe' as *;
@use 'footer/footer' as *;

html,
body {
    font-size: 62.5%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;

    @media(max-width: map.get($width, tablet)) {
        font-size: 35%;
    }

    @media(max-width: 374px) {
        font-size: 28%;
    }
}

body {
    position: relative;
    overflow-x: hidden;
    /* убираем горизонтальный скролл */
    background: url('../img/backgrounds/main_bg.jpg') center/cover fixed no-repeat;
    /* базовый фон */
}

img {
    -webkit-user-drag: none;
    user-drag: none;
}

h1 {
    font-size: 7.4rem;
}

span {
    outline: none;

    &:focus {
        outline: none;
    }
}

button {
    outline: none;
    border: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    background: inherit;

}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

.bg-blur {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5rem);
    z-index: 0;
    pointer-events: none;

}

.main-content {
    position: relative;
    z-index: 1;
}

.container {
    margin: 0 auto;
    padding: 0 9.5rem;
    max-width: map.get($width, lap-top);

    @media (max-width: 1000px) {
        padding: 0 5.5rem;
    }

    @media (max-width: map.get($width, mobile)) {
        max-width: map.get($width, mobile);
    }
}