@use 'sass:map';
@use '../vars' as *;
@use '../mixins' as *;

.sellers {
    margin-bottom: 14.8rem;

    @media(max-width: map.get($width, tablet-portrait)) {
        margin-bottom: 18.8rem;
    }

    @media (max-width: map.get($width, mobile)) {
        margin-bottom: 19.5rem;
    }

    &__header {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5.5rem;

        @media (max-width: map.get($width, tablet-portrait)) {
            margin-bottom: 5rem;
        }
    }

    &__title {
        margin-left: 2.5rem;
        font-size: 2.3rem;
        color: map.get($colors, primary);
        letter-spacing: .04rem;
        margin-bottom: 2.4rem;

        @media (max-width: map.get($width, tablet-portrait)) {
            margin-left: 2rem;
            font-size: 3.3rem;
            letter-spacing: .1rem;
            margin-bottom: 3.3rem;
        }

        @media (max-width: map.get($width, mobile)) {
            margin-bottom: 3.6rem;
        }


        span {
            color: map.get($colors, pink);
        }

        svg {
            color: map.get($colors, pink);
        }
    }

    &__desc {
        display: block;
        color: map.get($colors, primary);
        font-size: 1.5rem;
        max-width: 35%;
        margin: 0 auto;
        line-height: 1.4;

        @media (max-width: map.get($width, tablet-portrait)) {
            max-width: 100%;
            font-size: 2.5rem;
        }

    }

    &__wrap {
        counter-reset: items;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
        gap: 3rem;
        margin-bottom: 5rem;

        @media(max-width: 1024px) {
            grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
            overflow-x: scroll;
            grid-auto-flow: column;
            gap: 2rem;
        }

        @media(max-width: map.get($width, tablet)) {
            grid-template: 1fr 1fr / 1fr 1fr;
        }

        @media(max-width: map.get($width, tablet-portrait)) {
            grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
            overflow-x: scroll;
            grid-auto-flow: column;
            gap: 4.7rem;
            margin-bottom: 5.8rem;
        }

        @media (max-width: map.get($width, mobile)) {
            margin-bottom: 6rem;
        }

    }

    &__item {
        display: flex;
        align-items: center;
        counter-increment: items;
        justify-content: space-between;
        position: relative;
        border-radius: 2.8rem;
        z-index: 1;
        padding: 2.4rem;

        @media (max-width: 1024px) {
            width: 34rem;
        }

        @media (max-width: map.get($width, tablet-portrait)) {
            width: 56rem;
            padding: 3.3rem 2.4rem;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            padding: .3rem;
            @include round-gradient-border(map.get($colors, grey-gradient));
        }

        &::before {
            content: counter(items);
            color: map.get($colors, primary);
            opacity: .8;
            font-size: 1.8rem;
            margin-right: 1.4rem;
            margin-left: .6rem;
            max-width: fit-content;

            @media (max-width: map.get($width, tablet-portrait)) {
                margin-right: 2.3rem;
                margin-left: 1rem;
                font-size: 2.3rem;
            }
        }
    }

    &__user-info {
        display: flex;
        align-items: center;
        color: map.get($colors, primary);

        @media (max-width: map.get($width, tablet-portrait)) {
            padding: 0;
        }

        &--wrap {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &--data {
            display: flex;
            align-items: center;

            img {
                width: 28%;
                border-radius: 50%;
                margin-right: 1rem;

                @media (max-width: map.get($width, tablet-portrait)) {
                    width: 27%;
                    margin-right: 1.5rem;
                }
            }
        }

        &--name {
            font-size: 1.8rem;
            letter-spacing: -.05rem;

            @media (max-width: map.get($width, tablet-portrait)) {
                font-size: 2.6rem;
                margin-bottom: 1rem;
            }
        }

        &--stats {
            display: flex;
            font-size: 1.2rem;
            align-items: center;
            opacity: .8;

            @media (max-width: map.get($width, tablet-portrait)) {
                font-size: 1.8rem;
            }

            img {
                width: 8%;
            }
        }
    }

    &__badge {
        font-size: 1.2rem;
        padding: .9rem 2rem;
        border-radius: 2rem;
        margin-right: -.8rem;

        @media (max-width: map.get($width, tablet-portrait)) {
            margin-right: 0;
            font-size: 2rem;
        }
    }

    &__badge.growth {
        position: relative;
        color: map.get($colors, green);
        z-index: 1;
        background: map.get($colors, badge-green-bg);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            padding: .1rem;
            @include round-gradient-border(map.get($colors, badge-green-border));
        }
    }

    &__badge.decline {
        position: relative;
        color: map.get($colors, red);
        z-index: 1;
        background: map.get($colors, badge-red-bg);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            padding: .1rem;
            @include round-gradient-border(map.get($colors, badge-red-border))
        }
    }

    &__btn {
        display: block;
        width: 21.5rem;
        margin: 0 auto;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        padding: 1rem 0;

        @media (max-width: map.get($width, tablet-portrait)) {
            display: none;
        }
    }
}